<div class="row">
	<div class="col-md-12">
		<h5><a href="{{link}}">{{title}}</a></h5>
		<p>{{preview}}</p>
		<br>
		<button type="button" class="btn btn-secondary leaveComment" data-id="{{_id}}">Leave a comment</button>
		<button type="button" class="btn btn-secondary viewComments" data-id="{{_id}}">View comments</button>
	</div>
</div>

